<mat-toolbar color="primary">
  <div style="width: 100%">
    KS-DB
    <div style="float: right">
      <ng-container *ngIf="signedIn">
        <div fxLayout="row" fxLayoutAlign="center">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">Logout</button>
          </mat-menu>
          <div style="line-height: 40px">{{ userName }}</div>
        </div>
      </ng-container>
      <ng-container *ngIf="!signedIn">
        <button (click)="login()" mat-stroked-button class="login-button">Login</button>
      </ng-container>
    </div>
  </div>

</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav [opened]="true" mode="side" position="start" class="sidenav-toolbar">
    <ks-navigation-panel></ks-navigation-panel>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
