<div style="margin: 0 5px">
  <mat-toolbar style="height: 40px; padding: 0 5px 0 5px" color="accent">
    <ng-container [ngSwitch]="viewMode">
      <ng-container *ngSwitchCase="0">
        <button mat-icon-button color="primary" (click)="createDocument()"><mat-icon svgIcon="add_doc"></mat-icon></button>
        <button mat-icon-button color="primary" (click)="createFolder()"><mat-icon svgIcon="add_folder"></mat-icon></button>
        <button mat-icon-button color="primary" (click)="deleteSelectedDocuments()"><mat-icon svgIcon="delete_doc"></mat-icon></button>
      </ng-container>
      <ng-container *ngSwitchCase="1">
        <button mat-icon-button color="primary" (click)="editDocument()"><mat-icon svgIcon="edit_doc"></mat-icon></button>
      </ng-container>
      <ng-container *ngSwitchCase="2">
        <button mat-raised-button color="primary" (click)="saveDocument()">Save changes</button>
        <button mat-raised-button color="primary" (click)="dismissChanges()">Dismiss changes</button>
      </ng-container>
    </ng-container>

  </mat-toolbar>
</div>

<div class="file-viewer-container">


      <ng-container [ngSwitch]="viewMode">
            <ng-container *ngSwitchCase="0">
              <perfect-scrollbar>
                <div class="file-content">
                  <ks-document
                    *ngFor="let model of documents"
                    [name]="model.doc.name"
                    [selected]="model.selected"
                    [icon]="'assets/' + model.doc.icon"
                    (click)="selectDocument(model, $event)"
                    (dblclick)="openDocument(model.doc)"
                  ></ks-document>
                </div>
              </perfect-scrollbar>

            </ng-container>

        <ng-container *ngSwitchCase="1">
          <ng-container *ngIf="!content">No Content</ng-container>
          <ng-container *ngIf="!!content">
            <div style="height: 100%; width: 100%;">
              <perfect-scrollbar>
                <div class="file-content">
                  <showdown [value]="content" style="width: 100%"></showdown>
                </div>
              </perfect-scrollbar>
            </div>

          </ng-container>

        </ng-container>
        <ng-container *ngSwitchCase="2">
          <ngx-monaco-editor style="border: 1px solid #ccc; flex: 1 0 0;" [options]="editorOptions" [(ngModel)]="editContent"></ngx-monaco-editor>
        </ng-container>
        <ng-container *ngSwitchCase="3">
          {{ error }}
          <br/>
          <a [routerLink]="parentFolder">Go back</a>
          <br/>
          <a routerLink="/files">Go to root</a>
        </ng-container>
      </ng-container>


</div>

