<div style="margin: 0 5px">
  <mat-toolbar style="height: 40px; padding: 0 5px 0 5px" color="accent">
    <button mat-raised-button color="primary" (click)="createFolder()">Create Folder</button>
    <button mat-raised-button color="primary" (click)="createDocument()">Create Document</button>
  </mat-toolbar>
</div>

<div class="file-viewer-container">

  <perfect-scrollbar>

    <div class="file-content">
      <ng-container [ngSwitch]="viewMode">
        <ng-container *ngSwitchCase="0">
          <ks-document
            *ngFor="let model of documents"
            [name]="model.doc.name"
            [selected]="model.selected"
            [icon]="'assets/' + model.doc.icon"
            (click)="selectDocument(model, $event)"
            (dblclick)="openDocument(model.doc)"
          ></ks-document>
        </ng-container>
        <ng-container *ngSwitchCase="1">
          {{ !!content ? content : 'No content'}}
        </ng-container>

      </ng-container>

    </div>
  </perfect-scrollbar>
</div>

