<div class="file-viewer-container">
  <div class="file-content">
    <ks-document name="Angular" icon="assets/angular.svg"></ks-document>
    <ks-document name="Angular" icon="assets/angular.svg"></ks-document>
    <ks-document name="Angular" icon="assets/angular.svg"></ks-document>
    <ks-document name="Angular" icon="assets/angular.svg"></ks-document>
    <ks-document name="Angular" icon="assets/angular.svg"></ks-document>
    <ks-document name="Angular" icon="assets/angular.svg"></ks-document>
    <ks-document name="Angular" icon="assets/angular.svg"></ks-document>
    <ks-document name="Angular" icon="assets/angular.svg"></ks-document>
    <ks-document name="Angular" icon="assets/angular.svg"></ks-document>
    <ks-document name="Angular" icon="assets/angular.svg"></ks-document>
    <ks-document name="Angular" icon="assets/angular.svg"></ks-document>
    <ks-document name="Angular" icon="assets/angular.svg"></ks-document>
    <ks-document name="Angular" icon="assets/angular.svg"></ks-document>
    <ks-document name="Angular" icon="assets/angular.svg"></ks-document>
    <ks-document name="Angular" icon="assets/angular.svg"></ks-document>
    <ks-document name="Angular" icon="assets/angular.svg"></ks-document>
  </div>

</div>
