<div style="margin: 0 5px">
  <mat-toolbar style="height: 40px; padding: 0 5px 0 5px" color="accent">
    <button mat-raised-button color="primary" (click)="createFolder()">Create Folder</button>
    <button mat-raised-button color="primary" (click)="createDocument()">Create Document</button>
  </mat-toolbar>
</div>

<div class="file-viewer-container">

  <perfect-scrollbar>

    <div class="file-content">
      <ks-document
        *ngFor="let model of documents"
        [name]="model.doc.name"
        [selected]="model.selected"
        icon="assets/angular.svg"
        (click)="selectDocument(model, $event)"
        (dblclick)="openDocument(model.doc)"
      ></ks-document>
    </div>
  </perfect-scrollbar>
</div>

